

<div class="container px-0 bg-light">

  <div class="container" style="height: 5vh; background-color: aliceblue; text-align: right">
    <h5 class="pt-2 pr-3">אנשי קשר</h5>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th style="width: 5%">מועדף</th>
      <th style="width: 20%">שם איש קשר</th>
      <th style="width: 15%">סוג</th>
      <th style="width: 20%">כתובת</th>
      <th style="width: 15%">טלפון</th>
      <th style="width: 25%">דוא"ל</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>
         <div class="input-group-text">
           <input type="checkbox">
         </div>
      </td>
      <td>ניקיטה ג'יין</td>
      <td>מבוטח</td>
      <td>רחובות אופנהיימר</td>
      <td>052-5816206</td>
      <td>nikita_jain@amat.com</td>
    </tr>

    <tr>
      <td>
        <div class="input-group-text">
          <input type="checkbox">
        </div>
      </td>
      <td>טוביה בצקי</td>
      <td>סוכן</td>
      <td>מחנה תל נוף</td>
      <td>052-5452203</td>
      <td></td>
    </tr>

    </tbody>

  </table>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">הוסף איש קשר</a>
    </li>
  </ul>

  <!--<div class="d-flex justify-content-start pb-2">-->

    <!--<div>-->
      <!--<button type="button" class="btn btn-link">הוסף איש קשר</button>-->
    <!--</div>-->

  <!--</div>-->

</div>


