<!-- main app container -->

<div class="container mt-5 px-5 border bg-light" style="background-color: lightblue;">

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

      <div class="container mt-5 border bg-light">

        <div class="row my-3">
          <div class="mr-5 pt-1 offset-sm-1">
            <span>תטיעת על: 5000038313</span>
          </div>
          <div class="mr-5 pt-1 offset-sm-1">
            <span>מצב תביעה: פתוחה</span>
          </div>
          <div class=" mr-auto col-2  offset-sm-1">
            <button class="btn btn-info btn-block" type="reset" (click)="onReset()">רעסן תהליך</button>
          </div>
        </div>
      </div>

      <div class="container " style="height: 5vh; background-color: aliceblue; text-align: right">
        <h5 class="pt-2 pr-2">ריכוז מידע בתהליך</h5>
      </div>

      <div class="container py-3"style="background-color: white;">

        <div class="row mt-2 mb-2" style="text-align: right">
          <div class="col-sm-2 mr-5">פרטי מבוטח:</div>
          <div class="col-sm-2">מריה ג'יין</div>
          <div class="col-sm-2">27854122145</div>
          <div class="col-sm-1">35</div>
          <div class="col-sm-2  offset-sm-2">אחוזה,רעננה</div>
        </div>

        <div class="row mt-2 mb-4" style="text-align: right">
          <div class="col-sm-2 mr-5"></div>
          <div class="col-sm-2">שם</div>
          <div class="col-sm-2">ת.ז.</div>
          <div class="col-sm-1">גיל</div>
          <div class="col-sm-2  offset-sm-1">כתובת</div>
        </div>

      </div>

    <div class="container border bg-light" >

        <div class="row input-group pt-4" style="text-align: right">

            <div class="col-sm-2 pt-2" >
              <span>סוג תביעת על:</span>
            </div>

            <div class="col-sm-3">
              <select formControlName="superClaimType" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.superClaimType.errors}">
                <!--<option value="">בחר סוג תביעה...</option>-->
                <option value=""></option>
                <option *ngFor="let claimType of superClaimType">{{claimType}}</option>
              </select>
              <div *ngIf="submitted && f.superClaimType.errors" class="invalid-feedback">
                <div *ngIf="f.superClaimType.errors">נדרש סוג תביעה</div>
              </div>
            </div>

            <div class="col-sm-2 pt-2" >
              <span>תאריך אירוע:</span>
            </div>

            <i class="mr-3 pt-2 fa fa-calendar-o" style="font-size:24px"></i>
            <div class="col-sm-2">
              <input type="date" formControlName="eventDate" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.eventDate.errors }" />
              <div *ngIf="submitted && f.eventDate.errors" class="invalid-feedback">
                <div *ngIf="f.eventDate.errors">בחר תאריך</div>
              </div>
            </div>
        </div>

        <div class="row input-group pt-3" style="text-align: right">

            <div class="col-sm-2 pt-2" >
              <span >סיבת אירוע:</span>
            </div>

            <div class="col-sm-3">
              <select formControlName="claimCause" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.claimCause.errors }">
                <!--<option value="">בחר עילה לתביעה...</option>-->
                <option value=""></option>
                <option *ngFor="let cause of claimCause">{{cause}}</option>
              </select>
              <div *ngIf="submitted && f.claimCause.errors" class="invalid-feedback">
                <div *ngIf="f.claimCause.errors">נדרשת תביעת עילה</div>
              </div>
            </div>

            <div class="col-sm-2 pt-2" >
              <span >מהות אירוע:</span>
            </div>

            <div class="col-sm-3">
                <select formControlName="injuryType" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.injuryType.errors }">
                  <!--<option value="">בחר סוג פציעה...</option>-->
                  <option value=""></option>
                  <option *ngFor="let injury of injuryType">{{injury}}</option>
              </select>
              <div *ngIf="submitted && f.injuryType.errors" class="invalid-feedback">
                <div *ngIf="f.injuryType.errors">נדרש סוג פציעה</div>
              </div>
            </div>
        </div>

        <div class="row input-group pt-3 pb-5" style="text-align: right">

            <div class="col-sm-2 pt-2" >
              <span >הוגשה באמצעות:</span>
            </div>

            <div class="col-sm-3">
              <select formControlName="submittedBy" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.submittedBy.errors }">
                <!--<option value="">בחר נשלח על ידי...</option>-->
                <option value=""></option>
                <option *ngFor="let submitted of submittedBy">{{submitted}}</option>
              </select>
              <div *ngIf="submitted && f.submittedBy.errors" class="invalid-feedback">
                <div *ngIf="f.submittedBy.errors">הוגש על ידי נדרש</div>
              </div>
            </div>

            <div class="col-sm-2 pt-2" >
              <span >אופן קבלת התביעה:</span>
            </div>

            <div class="col-sm-3">
                  <select formControlName="submitionMethod" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.submitionMethod.errors }">
                    <!--<option value="">בחר שיטת הגשה...</option>-->
                    <option value=""></option>
                    <option *ngFor="let submition of submitionMethod">{{submition}}</option>
              </select>
              <div *ngIf="submitted && f.submitionMethod.errors" class="invalid-feedback">
                <div *ngIf="f.submitionMethod.errors">נדרשת שיטת הגשה</div>
              </div>
            </div>
          </div>

    </div>

      <div class="container px-0 border">

        <div class="container" style="height: 5vh; background-color: aliceblue; text-align: right">
          <h5 class="pt-2 pr-3">ריכוז אנשי קשר</h5>
        </div>

        <div class="container p-3 bg-white">

          <div class="row">
            <div class="col-sm-3  pt-1">
              <span>מספר אנשי קשר בתהליך: 2</span>
            </div>
            <div class="col-sm-2  pt-1">
              <span>פעולות אפשריות:</span>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-info btn-block" type="submit" (click)="onSubmit()">הוספת מבוטח</button>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-info btn-block" type="reset" (click)="onReset()">איפוס מלא</button>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-info btn-block" type="reset" (click)="onReset()">איפוס אנשי קשר</button>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row-reverse pl-5 ml-5 my-4" >
          <button class="btn btn-info col-2" type="submit" [disabled]="!registrationForm.valid" (click)="onSubmit()">המשך <i class="fa fa-long-arrow-left"></i></button>
        </div>

      </div>



   </form>


  <p><a routerLink="/contacts">&gt;&gt; נהל אנשי קשר</a></p>

 <!--<app-contact></app-contact>-->

</div>


